body{
  background: #00191E;
}

#headingAndForm {
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 5rem 0 0 0;
}

#todoListAndClear{
  color: white;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  margin: 2px 0 15px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  width: 80%;
  margin: 0.2rem auto;
}

input[type="text"] {
  outline: 0;
  border: none;
  padding: 12px 10px;
  border-radius: 20px 0 0 20px;
}

.submit_btn {
  outline: 0;
  border: none;
  color: whitesmoke;
  padding: 12px 15px;
  border-radius: 0 20px 20px 0;
  background: #0a59f7;
  transition: all 0.5s;
}

.submit_btn:active,
.submit_btn:hover {
  background: rgb(6 174 175);
  
}

ul {
  width: 380px;
  margin: auto;
  margin-bottom: 1.5rem;
}

ul li {
  list-style: none;
  background: #dfe8fa;
  color: black;
  width: 300px;
  margin-top: 5px;
  border-top: 1px solid gray;
  border-radius: 50px;
  padding: 8px 15px;
}

.addLinethroughText{
  text-decoration: line-through;
}

.notAddLinethroughTex{
  text-decoration: none;
}

ul li .taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.taskContainer .taskActionsBtn button {
  border: none;
  border-radius: 100%;
}

.cheakBtn:active,
.cheakBtn:focus {
  background: #27ef60d1;
  color: aliceblue;
  font-weight: 700;
}

.deleteBtn:active,
.deleteBtn:hover {
  background: #f40303d7;
  color: aliceblue;
  font-weight: 700;
}

.clearAllbtn{
    border: none;
    padding: 5px 12px;
    border-radius: 2px;
    background-color: rgba(255, 0, 0, 0.874);
    color: #dfe8fa;
    font-style: 600;
}

.clearAllbtn:active, .clearAllbtn:hover{
    background-color: rgba(255, 162, 0, 0.92);
    color: #dfe8fa;
}
